@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Josefin Sans";
  color: #FFF;
  background-color: black;
  line-height: 1.2;
}

.wrapper {
  display: block;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

[class*=__container] {
  max-width: 112.5rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
  position: relative;
}

.__ibg {
  position: relative;
  -webkit-transition: padding 0.4s ease 0s;
  transition: padding 0.4s ease 0s;
  visibility: hidden;
  z-index: -1;
}
.__ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -100%;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.active .__ibg {
  visibility: visible;
  position: relative;
  padding-bottom: 100vh;
}
.active .__ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

/*|-=HEADER=-=HEADER=-=HEADER=-=HEADER=-=HEADER=-=HEADER=-=HEADER=-=HEADER=-=HEADER=-=HEADER=-=HEADER=-|*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  padding: 3.125vw 0;
}
@media (max-width: 480px) {
  .header {
    padding: 4.83092vw 0;
  }
}
.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  z-index: 5;
}
@media (max-width: 480px) {
  .header__logo img {
    height: 1.67411vh;
  }
}
.header__burger-icon {
  width: 2.625rem;
  cursor: pointer;
  height: 2.1875rem;
  position: relative;
}
@media (max-width: 480px) {
  .header__burger-icon {
    height: 1rem;
    width: 1.5625rem;
  }
}
.header__burger-icon span, .header__burger-icon::before, .header__burger-icon::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.375rem;
  background-color: #FFFFFF;
  left: 0;
  -webkit-transition: top 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  transition: top 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, top 0.3s ease 0s;
  transition: transform 0.3s ease 0s, top 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}
@media (max-width: 480px) {
  .header__burger-icon span, .header__burger-icon::before, .header__burger-icon::after {
    height: 0.125rem;
  }
}
.header__burger-icon::before {
  top: 0;
}
.header__burger-icon::after {
  bottom: 0;
}
.header__burger-icon span {
  top: calc(50% - 3px);
}
@media (max-width: 480px) {
  .header__burger-icon span {
    top: calc(50% - 0.0625rem);
  }
}
.header .menu {
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 24.333333333vh 0 0 0;
  left: 0;
  top: -150%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 480px) {
  .header .menu {
    padding: 25.55804vh 0 0 0;
  }
}
.header .menu__list {
  text-align: center;
  display: block;
}
.header .menu__item:not(:last-child) {
  margin: 0 0 5.0833333333vh 0;
}
@media (max-width: 480px) {
  .header .menu__item:not(:last-child) {
    margin: 0 0 5.80357vh 0;
  }
}
.header .menu__link {
  color: inherit;
  font-weight: 200;
  font-size: 4rem;
  text-transform: uppercase;
  position: relative;
}
@media (max-width: 480px) {
  .header .menu__link {
    font-size: 2.25rem;
  }
}
.header .menu__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: #FFF;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header .menu__link:hover::after {
  width: 100%;
}
.header .active .menu {
  top: 0;
}
.header .active .header__burger-icon span {
  width: 0;
}
.header .active .header__burger-icon::before, .header .active .header__burger-icon::after {
  top: 40%;
}
.header .active .header__burger-icon::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.header .active .header__burger-icon::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/*|-=MENU-STATE-BAR=-=MENU-STATE-BAR=-=MENU-STATE-BAR=-=MENU-STATE-BAR=-=MENU-STATE-BAR=-=MENU-STATE-BAR=-|*/
.menu-state-bar {
  position: fixed;
  width: 100%;
  bottom: 12.0833333333vh;
  left: 0;
  z-index: 50;
}
.menu-state-bar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.menu-state-bar__list::after {
  content: "";
  position: absolute;
  width: 200vw;
  height: 1px;
  left: -20vh;
  bottom: 0;
  background-color: #FFF;
}
.menu-state-bar__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  position: relative;
  padding-bottom: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.menu-state-bar__item::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  bottom: -6px;
  background-color: #FFF;
}
.menu-state-bar__item::before {
  content: "";
  position: absolute;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  bottom: -32px;
  background-color: transparent;
  border: 1px solid #FFF;
}
.menu-state-bar__link {
  color: #FFF;
  font-size: 24px;
  font-weight: 200;
  letter-spacing: 6.6px;
  text-transform: uppercase;
  opacity: 0;
}

.menu-state-bar__item::before {
  opacity: 0;
}

.active.menu-state-bar__item::before {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.active .menu-state-bar__link {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

/*|-=FOOTER=-=FOOTER=-=FOOTER=-=FOOTER=-=FOOTER=-=FOOTER=-=FOOTER=-=FOOTER=-=FOOTER=-=FOOTER=-=FOOTER=-|*/
.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 50;
  padding: 0 0 2.66667vh 0;
}
.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__languages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__languages span {
  margin: 0 1.8125rem 0 1.3125rem;
  width: 1px;
  height: 26px;
  background-color: #FFF;
}
@media (max-width: 480px) {
  .footer__languages span {
    height: 13px;
    margin: 0 0.625rem 0 0.025rem;
  }
}
.footer__button {
  padding: 5px 0 0 0;
  font-size: 2.25rem;
  color: inherit;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 0.6188rem;
  -webkit-transition: -webkit-transform 0.2s ease 0s;
  transition: -webkit-transform 0.2s ease 0s;
  transition: transform 0.2s ease 0s;
  transition: transform 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
}
.footer__button:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
@media (max-width: 480px) {
  .footer__button {
    font-size: 1.125rem;
    letter-spacing: 0.6188rem;
    padding: 0;
    font-weight: 200;
  }
}
.footer__social {
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 480px) {
  .footer__social {
    height: 16px;
  }
}
.footer__link {
  height: 100%;
  -webkit-transition: -webkit-transform 0.2s ease 0s;
  transition: -webkit-transform 0.2s ease 0s;
  transition: transform 0.2s ease 0s;
  transition: transform 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
}
.footer__link img {
  height: 100%;
}
.footer__link:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
.footer__link:not(:last-child) {
  margin: 0 3.9375rem 0 0;
}
@media (max-width: 480px) {
  .footer__link:not(:last-child) {
    margin: 0 1.6687rem 0 0;
  }
}

/*|-=START=-=START=-=START=-=START=-=START=-=START=-=START=-=START=-=START=-=START=-=START=-=START=-|*/
.start__page {
  visibility: hidden;
  padding: 24.3333333333vh 0 17.1666666667vh 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
@media (max-width: 767.98px) {
  .start__page {
    padding: 10.7142857143vh 0 18.5267857143vh 0;
  }
}
.start__body {
  max-width: 1460px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 767.98px) {
  .start__body {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.start__getticket {
  margin-bottom: 16.5vh;
}
@media (max-width: 767.98px) {
  .start__getticket {
    margin-bottom: 23.7723214286vh;
  }
}
.start__content {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.9375rem;
}
@media (max-width: 991.98px) {
  .start__content {
    margin-bottom: 5.9151785714vh;
  }
}
@media (max-width: 767.98px) {
  .start__content {
    max-width: 215px;
  }
}
.start__title {
  font-size: 4.5rem;
  letter-spacing: 19.8px;
  position: relative;
}
@media (max-width: 1200px) {
  .start__title {
    font-size: 3rem;
  }
}
@media (max-width: 991.98px) {
  .start__title {
    font-size: 36px;
    margin-bottom: 0.875rem;
    letter-spacing: 9.9px;
  }
}
.start__title::before, .start__title::after {
  content: "";
  position: absolute;
  width: 20.293951385vw;
  height: 1px;
  top: 50%;
  background-color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 767.98px) {
  .start__title::before, .start__title::after {
    width: 86px;
  }
}
@media (max-width: 380px) {
  .start__title::before, .start__title::after {
    display: none;
  }
}
.start__title::after {
  right: 0;
}
@media (max-width: 767.98px) {
  .start__title::after {
    right: -72px;
  }
}
.start__title::before {
  left: 0;
}
@media (max-width: 767.98px) {
  .start__title::before {
    left: -72px;
  }
}
.start__subtile {
  font-size: 2.25rem;
  letter-spacing: 9.9px;
}
@media (max-width: 991.98px) {
  .start__subtile {
    font-size: 18px;
    font-weight: 400;
  }
}
.start__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.start__logo img {
  max-height: 20vh;
}

.active .start__page {
  visibility: visible;
}

.start__body > * {
  -webkit-transform: translate(-100vw, 0);
          transform: translate(-100vw, 0);
  opacity: 0;
}

.active .start__body > * {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  -webkit-transition: opacity 1s ease, -webkit-transform 0.5s ease;
  transition: opacity 1s ease, -webkit-transform 0.5s ease;
  transition: transform 0.5s ease, opacity 1s ease;
  transition: transform 0.5s ease, opacity 1s ease, -webkit-transform 0.5s ease;
}

.active .start__getticket {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.active .start__content {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.active .start__logo {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.start__background.__ibg img {
  -o-object-position: 25% 23%;
     object-position: 25% 23%;
}
@media (max-width: 380px) {
  .start__background.__ibg img {
    -o-object-position: 30% 23%;
       object-position: 30% 23%;
  }
}

.getticket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 37px;
     -moz-column-gap: 37px;
          column-gap: 37px;
  width: 100%;
}
@media (max-width: 767.98px) {
  .getticket {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    opacity: 0.5;
  }
}
.getticket span {
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
  height: 1px;
  width: 186px;
}
@media (max-width: 767.98px) {
  .getticket span {
    width: 100%;
  }
}
.getticket__link {
  text-align: center;
  display: block;
}
@media (max-width: 767.98px) {
  .getticket__link {
    width: 100%;
  }
  .getticket__link img {
    max-width: 31.884057971vw;
  }
}

/*|-=TRAILER=-=TRAILER=-=TRAILER=-=TRAILER=-=TRAILER=-=TRAILER=-=TRAILER=-=TRAILER=-=TRAILER=-=TRAILER=-|*/
.trailer__page {
  visibility: hidden;
  padding: 43.25vh 0 38.75vh 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
@media (max-width: 1600px) {
  .trailer__page {
    padding: 31.25vh 0 31.75vh 0;
  }
}
@media (max-width: 1245px) {
  .trailer__page {
    padding: 19.25vh 0 19.75vh 0;
  }
}
@media (max-width: 830px) {
  .trailer__page {
    padding: 14.25vh 0 15.75vh 0;
    background-color: rgba(0, 0, 0, 0.4);
  }
}
@media (max-width: 830px) {
  .trailer__page {
    padding: 21.25vh 0 15.75vh 0;
  }
}
@media (max-height: 670px) {
  .trailer__page {
    padding: 14.25vh 0 15.75vh 0;
  }
}
.trailer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  height: 100%;
}
@media (max-width: 1600px) {
  .trailer__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.trailer__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
}
@media (max-width: 1730px) {
  .trailer__media {
    gap: 30px;
  }
}
@media (max-width: 1245px) {
  .trailer__media {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 830px) {
  .trailer__media {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[3];
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    height: 100%;
    position: relative;
  }
  .trailer__media > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .trailer__media > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .trailer__media > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .trailer__media > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .trailer__media > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .trailer__media > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  .trailer__media::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    right: 50%;
    top: 0%;
    background-color: #fff;
  }
}
@media (max-width: 600px) {
  .trailer__media {
    height: 443px;
    width: 323px;
    -ms-grid-rows: (115px)[3];
    grid-template-rows: repeat(3, 115px);
  }
}
.trailer__video iframe {
  margin-bottom: 10px;
}
@media (max-width: 830px) {
  .trailer__video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-grid-column-span: 2;
    grid-column: span 2;
    -ms-grid-row-span: 1;
    grid-row: span 1;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 1;
    width: 100%;
    height: 100%;
  }
  .trailer__video:nth-child(2) {
    -ms-grid-column-align: end;
        justify-self: end;
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-column-span: 0;
    grid-column-end: 2;
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-row-span: 0;
    grid-row-end: 2;
  }
  .trailer__video:nth-child(3) {
    -ms-grid-row: 3;
        grid-row-start: 3;
    -ms-grid-row-span: 0;
    grid-row-end: 3;
    position: relative;
  }
  .trailer__video iframe {
    width: 100%;
    height: 100%;
  }
}
.trailer__describe {
  display: none;
}
@media (max-width: 830px) {
  .trailer__describe {
    display: block;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 4.95px;
    text-transform: uppercase;
  }
}
@media (max-width: 360px) {
  .trailer__describe {
    font-size: 14px;
    letter-spacing: 2.95px;
  }
}
.trailer__title {
  position: relative;
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 9.6px;
}
.trailer__title::after {
  content: "";
  position: absolute;
  width: 104%;
  height: 1px;
  right: 0;
  bottom: 0;
  background-color: #FFF;
  z-index: -1;
}
@media (max-width: 1600px) {
  .trailer__title::after {
    width: 100%;
  }
}
@media (max-width: 830px) {
  .trailer__title::after {
    display: none;
    width: 1px;
    height: 58.441964vh;
    right: 50%;
    top: 239%;
  }
}
@media (max-width: 600px) {
  .trailer__title::after {
    height: 41.441964vh;
  }
}
@media (max-width: 1600px) {
  .trailer__title {
    margin-bottom: 8.7053571429vh;
  }
}
@media (max-width: 670px) {
  .trailer__title {
    margin-bottom: 3.7053571429vh;
  }
}
@media (max-width: 830px) {
  .trailer__title {
    font-size: 3rem;
  }
}
.trailer__title,
.trailer__media {
  -webkit-transform: translate(100vw, 0);
          transform: translate(100vw, 0);
  opacity: 0;
}

.active .trailer__title,
.active .trailer__media {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: opacity 1s ease, -webkit-transform 0.5s ease;
  transition: opacity 1s ease, -webkit-transform 0.5s ease;
  transition: transform 0.5s ease, opacity 1s ease;
  transition: transform 0.5s ease, opacity 1s ease, -webkit-transform 0.5s ease;
}

.active .trailer__title {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.active .trailer__media {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.active .trailer__page {
  visibility: visible;
}

.trailer__background.__ibg img {
  -o-object-position: 65% 23%;
     object-position: 65% 23%;
}

/*|-=ABOUT=-=ABOUT=-=ABOUT=-=ABOUT=-=ABOUT=-=ABOUT=-=ABOUT=-=ABOUT=-=ABOUT=-=ABOUT=-=ABOUT=-=ABOUT=-=ABOUT=-|*/
.about__page {
  visibility: hidden;
  padding: 17.5vh 0 22.5833333333vh 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.3);
}
@media (max-width: 991.98px) {
  .about__page {
    background-color: rgba(0, 0, 0, 0.6);
  }
}
@media (max-width: 700px) {
  .about__page {
    padding: 11.5vh 0 10.583333vh 0;
  }
}
@media (max-width: 370px) {
  .about__page {
    padding: 8.5vh 0 10.583333vh 0;
  }
}
.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2rem;
}
@media (max-width: 380px) {
  .about__body {
    row-gap: 1rem;
  }
}
.about__content {
  max-width: 913px;
}
.about__content:nth-child(2) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.about__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 35px 0;
}
.about__head span {
  height: 1px;
  width: 100%;
  background-color: #fff;
}
.about__head_right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
@media (max-width: 380px) {
  .about__head {
    margin: 0 0 10px 0;
  }
}
.about__title {
  font-size: 64px;
  font-weight: 700;
  letter-spacing: 17.6px;
  text-transform: uppercase;
}
@media (max-width: 700px) {
  .about__title {
    font-size: 24px;
  }
}
.about__text {
  font-size: 24px;
  font-weight: 200;
}
@media (max-width: 700px) {
  .about__text {
    font-size: 18px;
  }
}
@media (max-width: 380px) {
  .about__text {
    font-size: 17px;
  }
}
.about__content:nth-child(1) {
  opacity: 0;
  -webkit-transform: translate(-100vw, 0);
          transform: translate(-100vw, 0);
}

.about__content:nth-child(2) {
  opacity: 0;
  -webkit-transform: translate(100vw, 0);
          transform: translate(100vw, 0);
}

.active .about__content {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: opacity 1s ease, -webkit-transform 0.7s ease;
  transition: opacity 1s ease, -webkit-transform 0.7s ease;
  transition: transform 0.7s ease, opacity 1s ease;
  transition: transform 0.7s ease, opacity 1s ease, -webkit-transform 0.7s ease;
}

.active .about__page {
  visibility: visible;
}

.about__background.__ibg img {
  -o-object-position: 75% 23%;
     object-position: 75% 23%;
}

/*|-=CHARACTERS=-=CHARACTERS=-=CHARACTERS=-=CHARACTERS=-=CHARACTERS=-=CHARACTERS=-=CHARACTERS=-=CHARACTERS=-|*/
.characters__page {
  visibility: hidden;
  padding: 16.1666666667vh 0 20.8333333333vh 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.characters__container {
  height: 100%;
}
.characters__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
.characters__card {
  display: none;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.active.characters__card {
  display: block;
}

.card-characters {
  margin: 0 0 8.9167vh 0;
}
.card-characters__count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10.9375vw 0 21.083333vw;
  font-size: 72px;
  font-weight: 700;
  letter-spacing: 19.8px;
  text-transform: uppercase;
  margin: 0 0 8.25vh 0;
}
@media (max-width: 680px) {
  .card-characters__count {
    padding: 0 10.9375vw;
    font-size: 48px;
    letter-spacing: 6.6px;
    margin: 0 0 24.25vh 0;
  }
}
@media (max-width: 480px) {
  .card-characters__count {
    font-size: 24px;
    margin: 0 0 24.25vh 0;
  }
}
.card-characters__info {
  text-transform: uppercase;
  max-width: 700px;
  text-align: center;
}
@media (min-width: 480px) {
  .card-characters__info_right {
    max-width: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
.card-characters__character-name {
  letter-spacing: 15.6px;
  font-size: 72px;
  font-weight: 700;
}
@media (min-width: 480px) {
  .card-characters__character-name_right {
    width: 516px;
    text-align: center;
  }
}
@media (max-width: 680px) {
  .card-characters__character-name {
    font-size: 48px;
    letter-spacing: 10.8px;
  }
}
@media (max-width: 480px) {
  .card-characters__character-name {
    font-size: 36px;
  }
}
.card-characters__actor-name {
  letter-spacing: 4.88px;
  font-size: 48px;
  font-weight: 400;
}
@media (min-width: 480px) {
  .card-characters__actor-name_right {
    width: 516px;
    text-align: center;
  }
}
@media (max-width: 680px) {
  .card-characters__actor-name {
    font-size: 36px;
  }
}
@media (max-width: 480px) {
  .card-characters__actor-name {
    font-size: 24px;
  }
}

.slider-characters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slider-characters > .slider-characters__button {
  margin: 0 15px;
}
.slider-characters > .slider-characters__button img {
  -webkit-transition: -webkit-transform 0.2s ease 0s;
  transition: -webkit-transform 0.2s ease 0s;
  transition: transform 0.2s ease 0s;
  transition: transform 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
}
.slider-characters > .slider-characters__button img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.slider-characters__button {
  background-color: transparent;
}
.slider-characters__button:last-child {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.slider-characters__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 8.59375vw;
     -moz-column-gap: 8.59375vw;
          column-gap: 8.59375vw;
}
@media (max-width: 360px) {
  .slider-characters__content img {
    width: 124px;
    height: 121px;
  }
}
@media (max-width: 1300px) {
  .slider-characters__content {
    -webkit-column-gap: 2.59375vw;
       -moz-column-gap: 2.59375vw;
            column-gap: 2.59375vw;
  }
}
@media (max-width: 1300px) {
  .slider-characters__content {
    overflow: scroll;
  }
}
.slider-characters__content::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.slider-characters__content {
  -ms-overflow-style: none;
}
.slider-characters__content {
  overflow: -moz-scrollbars-none;
}
.slider-characters__item {
  position: relative;
}
.slider-characters__item img {
  opacity: 0.5;
}
.slider-characters__name {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 2rem;
  letter-spacing: 3.06px;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0.89;
}
@media (max-width: 360px) {
  .slider-characters__name {
    font-size: 1.5rem;
    letter-spacing: 2.04px;
  }
}
.slider-characters {
  opacity: 0;
  -webkit-transform: translate(-100vh, 0);
          transform: translate(-100vh, 0);
}

.characters__body > .characters__card {
  opacity: 0;
  -webkit-transform: translate(100vh, 0);
          transform: translate(100vh, 0);
}

.active .characters__body > .characters__card,
.active .slider-characters {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: opacity 1s ease 0s, -webkit-transform 0.5s ease 0s;
  transition: opacity 1s ease 0s, -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, opacity 1s ease 0s;
  transition: transform 0.5s ease 0s, opacity 1s ease 0s, -webkit-transform 0.5s ease 0s;
}

.active .slider-characters__item.active .slider-characters__name {
  visibility: visible;
}

.active .slider-characters__item.active img {
  opacity: 1;
}

.characters__background.__ibg img {
  -o-object-position: 45% 23%;
     object-position: 45% 23%;
}
.characters__background.__ibg img:nth-child(2) {
  -o-object-position: 52% 23%;
     object-position: 52% 23%;
}
.characters__background.__ibg img:nth-child(3) {
  -o-object-position: 62% 23%;
     object-position: 62% 23%;
}
.characters__background.__ibg img:nth-child(4) {
  -o-object-position: 57% 23%;
     object-position: 57% 23%;
}

.slider-background {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.active.slider-background {
  opacity: 1;
}

.active .characters__page {
  visibility: visible;
}

/*|-=POSTERS=-=POSTERS=-=POSTERS=-=POSTERS=-=POSTERS=-=POSTERS=-=POSTERS=-=POSTERS=-=POSTERS=-=POSTERS=-|*/
.posters__page {
  visibility: hidden;
  padding: 9.1666666667vh 0 18vh 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.posters__body {
  max-width: 800px;
  height: 63.5833333333vh;
  margin: 0 auto;
}
.posters__slider {
  height: 100%;
}
.slider-posters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 47.583333vh;
}
.slider-posters__number {
  text-shadow: 7px 6px 13px 0px rgba(0, 0, 0, 0.2);
  letter-spacing: 19.8px;
  text-transform: uppercase;
  font-size: 72px;
  font-weight: 700;
  margin: 0 0 48px 0;
}
@media (max-width: 480px) {
  .slider-posters__number {
    font-size: 36px;
    margin: 0 0 15vh 0;
  }
}
.slider-posters__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
@media (max-width: 480px) {
  .slider-posters__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.slider-posters__body > .slider-posters__button img {
  -webkit-transition: -webkit-transform 0.2s ease 0s;
  transition: -webkit-transform 0.2s ease 0s;
  transition: transform 0.2s ease 0s;
  transition: transform 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
}
.slider-posters__body > .slider-posters__button img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.slider-posters__button {
  background-color: transparent;
  margin: 0 5.9895833333vw;
}
@media (max-width: 480px) {
  .slider-posters__button {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
.slider-posters__button:last-child {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.slider-posters__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
@media (max-width: 480px) {
  .slider-posters__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 78%;
  }
}
.slider-posters__poster {
  margin: 0 0 44px 0;
  position: relative;
  height: 100%;
}
.slider-posters__poster img {
  display: none;
  height: 100%;
  position: absolute;
  top: 7%;
  right: -5vh;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-box-shadow: 16px 10px 13px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 16px 10px 13px 0px rgba(0, 0, 0, 0.3);
  opacity: 0;
}
@media (max-width: 620px) {
  .slider-posters__poster img {
    top: 1%;
    right: -5vh;
    -webkit-transform: scale(0.65);
            transform: scale(0.65);
  }
}
.slider-posters__indicators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
  padding-bottom: 30px;
}
.slider-posters__indicator {
  font-size: 72px;
  color: #A49C9C;
}

.slider-posters__body {
  opacity: 0;
  -webkit-transform: translate(100vh, 0);
          transform: translate(100vh, 0);
}

.slider-posters__indicators {
  opacity: 0;
}

.active .slider-posters__indicators {
  opacity: 1;
  -webkit-transition: opacity 1.5s ease;
  transition: opacity 1.5s ease;
}

.active .slider-posters__body {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: opacity 1s ease, -webkit-transform 0.5s ease;
  transition: opacity 1s ease, -webkit-transform 0.5s ease;
  transition: opacity 1s ease, transform 0.5s ease;
  transition: opacity 1s ease, transform 0.5s ease, -webkit-transform 0.5s ease;
}

.active.slider-posters__poster {
  z-index: 1;
}
.active.slider-posters__poster img {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  display: block;
  max-width: 537px;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
@media (max-width: 620px) {
  .active.slider-posters__poster img {
    max-width: 223px;
    max-height: 279px;
  }
}

.next img {
  display: block;
  opacity: 1;
}

.active.slider-posters__indicator {
  color: #FFF;
}

.active .posters__page {
  visibility: visible;
}

.posters-slider-background {
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.active.posters-slider-background {
  opacity: 1;
}