@import 'nullstyle.scss';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;600;700&display=swap');

//Mixins
@mixin pagesSettings ($padtop, $padbot) {
    visibility: hidden;
    padding: $padtop 0 $padbot 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}


body {
    font-family: 'Josefin Sans';
    color: #FFF;
    background-color: black;
    line-height: 1.2;
}

.wrapper {
    display: block;
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
}

[class*="__container"] {
    max-width: 112.5rem;
    margin: 0 auto;
    padding: 0 0.9375rem;
    position: relative;
}

.__ibg {
    position: relative;
    transition: padding 0.4s ease 0s;
    visibility: hidden;
    z-index: -1;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: -100%;
        left: 0;
        object-fit: cover;
    }
}

.active .__ibg {
    visibility: visible;
    position: relative;
    padding-bottom: 100vh;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}

.main {
    &__start {}

    &__trailer {}

    &__about {}

    &__characters {}
}

/*|-=HEADER=-=HEADER=-=HEADER=-=HEADER=-=HEADER=-=HEADER=-=HEADER=-=HEADER=-=HEADER=-=HEADER=-=HEADER=-|*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    padding: 3.12500vw 0; //3.75rem

    @media (max-width: 480px) {
        padding: 4.83092vw 0; //3.75rem
    }

    &__container {}

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        z-index: 5;

        @media (max-width: 480px) {
            img {
                height: 1.67411vh;
            }
        }
    }

    &__menu {}

    &__burger-icon {
        width: 2.625rem;
        cursor: pointer;
        height: 2.1875rem;
        position: relative;

        @media (max-width: 480px) {
            height: 1rem;
            width: 1.5625rem;
        }

        span,
        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 0.375rem;
            background-color: #FFFFFF;
            left: 0;
            transition: transform 0.3s ease 0s, top 0.3s ease 0s;

            @media (max-width: 480px) {
                height: 0.125rem;
            }
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        span {
            top: calc(50% - 3px);

            @media (max-width: 480px) {
                top: calc(50% - 0.0625rem);
            }
        }
    }

    .menu {
        position: fixed;
        width: 100%;
        height: 100%;
        padding: 24.333333333vh 0 0 0;
        left: 0;
        top: -150%;
        backdrop-filter: blur(10px);
        transition: all 0.3s ease 0s;

        @media (max-width: 480px) {
            padding: 25.55804vh 0 0 0;
        }

        &__list {
            text-align: center;
            display: block;
        }

        &__item {
            &:not(:last-child) {
                margin: 0 0 5.08333333333vh 0;

                @media (max-width: 480px) {
                    margin: 0 0 5.80357vh 0;
                }
            }
        }

        &__link {
            color: inherit;
            font-weight: 200;
            font-size: 4rem;
            text-transform: uppercase;
            position: relative;

            @media (max-width: 480px) {
                font-size: 2.25rem;
            }

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0%;
                height: 1px;
                background-color: #FFF;
                transition: all 0.3s ease 0s;
            }

            &:hover::after {
                width: 100%;
            }
        }
    }

    .active .menu {
        top: 0;
    }

    .active .header__burger-icon {

        span {
            width: 0;
        }

        &::before,
        &::after {
            top: 40%;
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }
}

/*|-=FOOTER=-=FOOTER=-=FOOTER=-=FOOTER=-=FOOTER=-=FOOTER=-=FOOTER=-=FOOTER=-=FOOTER=-=FOOTER=-=FOOTER=-|*/
.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 50;
    padding: 0 0 2.66667vh 0;

    &__container {}

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__languages {
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            margin: 0 1.8125rem 0 1.3125rem;

            width: 1px;
            height: 26px;
            background-color: #FFF;

            @media (max-width: 480px) {
                height: 13px;
                margin: 0 0.625rem 0 0.025rem;
            }
        }
    }

    &__button {
        padding: 5px 0 0 0;
        font-size: 2.25rem;
        color: inherit;
        background-color: transparent;
        text-transform: uppercase;
        letter-spacing: 0.6188rem;
        transition: transform 0.2s ease 0s;

        &:hover {
            transform: translateY(-5px);
        }

        @media (max-width: 480px) {
            font-size: 1.125rem;
            letter-spacing: 0.6188rem;
            padding: 0;
            font-weight: 200;
        }
    }

    &__social {
        height: 38px;
        display: flex;
        align-items: center;

        @media (max-width: 480px) {
            height: 16px;
        }
    }

    &__link {
        height: 100%;

        img {
            height: 100%;
        }

        transition: transform 0.2s ease 0s;

        &:hover {
            transform: translateY(-5px);
        }

        &:not(:last-child) {
            margin: 0 3.9375rem 0 0;

            @media (max-width: 480px) {
                margin: 0 1.6687rem 0 0;
            }
        }
    }
}

/*|-=START=-=START=-=START=-=START=-=START=-=START=-=START=-=START=-=START=-=START=-=START=-=START=-|*/
.start {
    &__background {}

    &__container {}

    &__page {
        @include pagesSettings(24.3333333333vh, 17.1666666667vh);

        @media (max-width: 767.98px) {
            padding: 10.7142857143vh 0 18.5267857143vh 0;
        }
    }

    &__body {
        max-width: 1460px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        @media (max-width: 767.98px) {
            align-items: center;
        }
    }

    &__getticket {
        margin-bottom: 16.5vh;

        @media (max-width: 767.98px) {
            margin-bottom: 23.7723214286vh;
        }
    }

    &__content {
        text-align: center;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 1.9375rem;

        @media (max-width: 991.98px) {
            margin-bottom: 5.91517857143vh;
        }

        @media (max-width: 767.98px) {
            max-width: 215px;
        }
    }

    &__title {
        font-size: 4.5rem;
        letter-spacing: 19.8px;
        position: relative;

        @media (max-width: 1200px) {
            font-size: 3rem;
        }

        @media (max-width: 991.98px) {
            font-size: 36px;
            margin-bottom: 0.875rem;
            letter-spacing: 9.9px;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 20.293951385vw;
            height: 1px;
            top: 50%;

            background-color: rgb(255, 255, 255, 0.5);

            @media (max-width: 767.98px) {
                width: 86px;
            }

            @media (max-width: 380px) {
                display: none;
            }
        }

        &::after {
            right: 0;

            @media (max-width: 767.98px) {
                right: -72px;
            }
        }

        &::before {
            left: 0;

            @media (max-width: 767.98px) {
                left: -72px;
            }
        }
    }

    &__subtile {
        font-size: 2.25rem;
        letter-spacing: 9.9px;

        @media (max-width: 991.98px) {
            font-size: 18px;
            font-weight: 400;
        }
    }

    &__logo {
        display: flex;
        justify-content: flex-end;

        img {
            max-height: 20vh;
        }
    }
}

.active .start__page {
    visibility: visible;
}

//Animation
.start__body>* {
    transform: translate(-100vw, 0);
    opacity: 0;
}

.active .start__body>* {
    transform: translate(0, 0);
    opacity: 1;
    transition: transform 0.5s ease, opacity 1s ease;
}

.active .start__getticket {
    transition-delay: 0.2s;
}

.active .start__content {
    transition-delay: 0.4s;
}

.active .start__logo {
    transition-delay: 0.6s;
}

.start__background.__ibg {
    img {
        object-position: 25% 23%;

        @media (max-width: 380px) {
            object-position: 30% 23%;
        }
    }
}

.getticket {
    display: flex;
    align-items: center;
    column-gap: 37px;
    width: 100%;

    @media (max-width: 767.98px) {
        flex-direction: row-reverse;
        justify-content: space-between;
        opacity: 0.5;
    }

    span {
        display: block;
        background-color: rgb(255, 255, 255, 0.5);
        height: 1px;
        width: 186px;

        @media (max-width: 767.98px) {
            width: 100%;
        }
    }

    &__link {
        text-align: center;

        @media (max-width: 767.98px) {
            width: 100%;

            img {
                max-width: 31.884057971vw;
            }

        }

        display: block;
    }
}

/*|-=TRAILER=-=TRAILER=-=TRAILER=-=TRAILER=-=TRAILER=-=TRAILER=-=TRAILER=-=TRAILER=-=TRAILER=-=TRAILER=-|*/
.trailer {

    &__page {
        @include pagesSettings(43.25vh, 38.75vh);
        backdrop-filter: blur(5px);

        @media (max-width: 1600px) {
            padding: 31.25vh 0 31.75vh 0;
        }

        @media (max-width: 1245px) {
            padding: 19.25vh 0 19.75vh 0;
        }

        @media (max-width: 830px) {
            padding: 14.25vh 0 15.75vh 0;
            background-color: rgb(0, 0, 0, 0.4);
        }

        @media (max-width: 830px) {
            padding: 21.25vh 0 15.75vh 0;
        }

        @media (max-height: 670px) {
            padding: 14.25vh 0 15.75vh 0;
        }
    }

    &__container {}

    &__body {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: space-between;
        align-items: start;
        height: 100%;

        @media (max-width: 1600px) {
            justify-content: center;
        }

    }

    &__media {
        display: flex;
        column-gap: 80px;
        flex-wrap: wrap;
        height: 100%;

        @media (max-width: 1730px) {
            gap: 30px;
        }

        @media (max-width: 1245px) {
            justify-content: center;
        }

        @media (max-width: 830px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            width: 100%;
            height: 100%;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                width: 1px;
                height: 100%;
                right: 50%;
                top: 0%;
                background-color: #fff;
            }
        }

        @media (max-width: 600px) {
            height: 443px;
            width: 323px;
            grid-template-rows: repeat(3, 115px);
        }
    }

    &__video {

        iframe {
            margin-bottom: 10px;
        }


        @media (max-width: 830px) {

            display: flex;
            flex-direction: column;
            align-items: flex-end;

            grid-column: span 2;
            grid-row: span 1;
            grid-column-start: 1;
            grid-column-end: 1;
            width: 100%;
            height: 100%;

            &:nth-child(2) {
                justify-self: end;
                grid-column-start: 2;
                grid-column-end: 2;
                grid-row-start: 2;
                grid-row-end: 2;
            }

            &:nth-child(3) {
                grid-row-start: 3;
                grid-row-end: 3;
                position: relative;
            }

            iframe {
                width: 100%;
                height: 100%;
            }
        }
    }

    &__describe {
        display: none;

        @media (max-width: 830px) {
            display: block;
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 4.95px;
            text-transform: uppercase;
        }

        @media (max-width: 360px) {
            font-size: 14px;
            letter-spacing: 2.95px;
        }
    }

    &__title {
        position: relative;
        font-size: 4rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 9.6px;

        &::after {
            content: '';
            position: absolute;
            width: 104%;
            height: 1px;
            right: 0;
            bottom: 0;
            background-color: #FFF;
            z-index: -1;

            @media (max-width: 1600px) {
                width: 100%;
            }

            @media (max-width: 830px) {
                display: none;
                width: 1px;
                height: 58.441964vh;
                right: 50%;
                top: 239%;
            }

            @media (max-width: 600px) {
                height: 41.441964vh;
            }
        }

        @media (max-width: 1600px) {
            margin-bottom: 8.70535714286vh;
        }

        @media (max-width: 670px) {
            margin-bottom: 3.70535714286vh;
        }

        @media (max-width: 830px) {
            font-size: 3rem;
        }
    }

    &__background {}
}

//Animation
.trailer__title,
.trailer__media {
    transform: translate(100vw, 0);
    opacity: 0;
}

.active .trailer__title,
.active .trailer__media {
    opacity: 1;
    transform: translate(0, 0);
    transition: transform 0.5s ease, opacity 1s ease;
}

.active .trailer__title {
    transition-delay: 0.2s;
}

.active .trailer__media {
    transition-delay: 0.4s;
}

.active .trailer__page {
    visibility: visible;
}

.trailer__background.__ibg {
    img {
        object-position: 65% 23%;

    }
}

/*|-=ABOUT=-=ABOUT=-=ABOUT=-=ABOUT=-=ABOUT=-=ABOUT=-=ABOUT=-=ABOUT=-=ABOUT=-=ABOUT=-=ABOUT=-=ABOUT=-=ABOUT=-|*/
.about {

    &__page {
        @include pagesSettings(17.5vh, 22.5833333333vh);

        background-color: rgb(0, 0, 0, 0.3);

        @media (max-width: 991.98px) {
            background-color: rgb(0, 0, 0, 0.6);
        }

        @media (max-width: 700px) {
            padding: 11.5vh 0 10.583333vh 0;
        }

        @media (max-width: 370px) {
            padding: 8.5vh 0 10.583333vh 0;
        }

    }

    &__container {}

    &__body {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;

        @media (max-width: 380px) {
            row-gap: 1rem;
        }
    }

    &__content {

        max-width: 913px;

        &_right {}

        &:nth-child(2) {
            align-self: flex-end;
        }
    }

    &__head {
        display: flex;
        align-items: center;
        margin: 0 0 35px 0;


        span {
            height: 1px;
            width: 100%;
            background-color: #fff;
        }

        &_right {
            flex-direction: row-reverse;
            column-gap: 30px;
        }

        @media (max-width: 380px) {
            margin: 0 0 10px 0;
        }
    }

    &__title {
        font-size: 64px;
        font-weight: 700;
        letter-spacing: 17.6px;
        text-transform: uppercase;

        @media (max-width: 700px) {
            font-size: 24px;
        }
    }

    &__text {
        font-size: 24px;
        font-weight: 200;

        @media (max-width: 700px) {
            font-size: 18px;
        }

        @media (max-width: 380px) {
            font-size: 17px;
        }
    }

    &__background {}
}

//Animation
.about__content:nth-child(1) {
    opacity: 0;
    transform: translate(-100vw, 0);
}

.about__content:nth-child(2) {
    opacity: 0;
    transform: translate(100vw, 0);
}

.active .about__content {
    opacity: 1;
    transform: translate(0, 0);
    transition: transform 0.7s ease, opacity 1s ease;
}

.active .about__page {
    visibility: visible;
}

.about__background.__ibg {
    img {
        object-position: 75% 23%;

    }
}

/*|-=CHARACTERS=-=CHARACTERS=-=CHARACTERS=-=CHARACTERS=-=CHARACTERS=-=CHARACTERS=-=CHARACTERS=-=CHARACTERS=-|*/
.characters {

    &__page {
        @include pagesSettings(16.1666666667vh, 20.8333333333vh)
    }

    &__container {
        height: 100%;
    }

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    &__card {
        display: none;
        flex: 1 1 auto;
    }

    &__slider {}
}

.active.characters__card {
    display: block;
}

.card-characters {
    margin: 0 0 8.9167vh 0;

    &__count {
        display: flex;
        justify-content: space-between;
        padding: 0 10.9375vw 0 21.083333vw;
        font-size: 72px;
        font-weight: 700;
        letter-spacing: 19.8px;
        text-transform: uppercase;
        margin: 0 0 8.25vh 0;
    }

    &__chosen-character {}

    &__all-characters {}

    &__info {
        text-transform: uppercase;
        max-width: 700px;
        text-align: center;

        &_right {
            max-width: none;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
    }

    &__character-name {
        letter-spacing: 15.6px;
        font-size: 72px;
        font-weight: 700;

        &_right {
            width: 516px;
            text-align: center;
        }
    }

    &__actor-name {
        letter-spacing: 4.88px;
        font-size: 48px;
        font-weight: 400;

        &_right {
            width: 516px;
            text-align: center;
        }
    }
}

.slider-characters {
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__button {
        background-color: transparent;

        &:last-child {
            transform: rotate(180deg);
        }
    }

    &__content {
        padding: 0 15px;
        display: flex;
        column-gap: 8.59375vw;
    }

    &__item {
        position: relative;

        img {
            opacity: 0.5;
        }
    }

    &__name {
        visibility: hidden;
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 2rem;
        letter-spacing: 3.06px;
        font-weight: 700;
        text-transform: uppercase;
        opacity: 0.89;
    }

    &__background {}
}

.active .slider-characters__item.active .slider-characters__name {
    visibility: visible;
}

.active .slider-characters__item.active img {
    opacity: 1;
}

.__ibg {}

.slider-background {
    opacity: 0;
}

.active.slider-background {
    opacity: 1;
}


.active .characters__page {
    visibility: visible;
}